
<div class="album bg-light">
    <div class="container">
        <div class="row">
            
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item bc-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item bc-item">
                            <a href="/contact">Contact</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">Thank You</li>
                    </ol>
                </nav>
                <div class="project-sidebar-block">
                    <div class="alert alert-success" role="alert">
                        <h1 class="alert-heading display-1">Thank you!</h1>
                        <br>
                        <hr>
                        <br>
                        <p>
                            We have received your contact information and we will get back to at the earliest. The inputs we received from you are as listed below:
                        </p>
                        <br>
                        <hr>
                        <br>
                        <p class="mb-0">
                            <b>Name:</b> {{data.name}}
                        </p>
                        <p class="mb-0">
                            <b>Email:</b> {{data.email}}
                        </p>
                        <p class="mb-0">
                            <b>Mobile:</b> {{data.mobile}}
                        </p>
                        <p class="mb-0">
                            <b>Description:</b> {{data.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
</div>
